{% extends 'cookbook/base.html' %}

{% block title %}
    {{ recipe.name }}
{% endblock %}

{% block content %}

    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Название рецепта</label>
            <div class=" col-sm-10  name">
                <input type="text" class="form-control" maxlength="200" placeholder="Введите название...">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Краткое описание блюда</label>
            <div class=" col-sm-10 shortdescription">
                <textarea class="form-control autosize" id="shortdescription" maxlength="200" rows="1"></textarea>
                <p class="text-right count_message">
                    <small id="count_message"></small>
                </p>
            </div>

        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Видео с YouTube</label>
            <div class=" col-sm-10  name">
                <input type="text" class="form-control" maxlength="200"
                       placeholder="Вставьте ссылку на видео с YouTube, если она имеется ">
            </div>
        </div>


        <label class="col-form-label">Выбор категории рецепта</label>

        <div class="row">

            <div class="col-sm-2 categories">
                <label class="col-form-label">Назначение:</label>
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        На обед
                    </label>
                </div>
            </div>


            <div class="col-sm-2 categories">
                <label class="col-form-label">География кухни:</label>
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Европейская
                    </label>
                </div>
            </div>

            <div class="col-sm-2 categories">
                <label class="col-form-label">Категория</label>
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Вторые блюда
                    </label>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-2 categories">
                <label class="col-form-label">Диета</label>
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        ПП блюда
                    </label>
                </div>
            </div>

            <div class="col-sm-2 categories">
                <label class="col-form-label">Приготовление</label>
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Духовка
                    </label>
                </div>
            </div>

        </div>
        <label class="col-form-label">Ингредиенты</label>
        <div class="form-group row ingredients">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Ингредиент</th>
                    <th>Количество</th>
                    <th>Мера (единица измерения)</th>
                    <th>Примечание</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Инструкция приготовления</label>
            <div class=" col-sm-10 shortdescription">
                <textarea class="form-control" id="description" rows="10"></textarea>
                <p class="text-right count_message">
                    <small>Введите детальное описание процесса приготовления блюда, если Вы добавляли приготовление по
                        шагам - заполнять не нужно
                    </small>
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Количество порций</label>
            <div class=" col-sm-10  name">
                <input type="text" class="form-control" maxlength="200">
                <p class="text-right count_message">
                    <small>Например: 2, 2-5</small>
                </p>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Время приготовления</label>
            <div class=" col-sm-10  name">
                <input type="text" class="form-control time" maxlength="5">
                <select class="form-control time" id="exampleFormControlSelect1">
                    <option>дней</option>
                    <option>часов</option>
                    <option>минут</option>
                </select>

            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Добавьте фотографии готового блюда</label>
            <div class=" col-sm-10  name">
                <form>
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>

            </div>
        </div>


        <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">Example multiple select</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

    </form>
{% endblock %}


{% block scripts %}
    <script>
        var text_max = 200;
        $('#count_message').html('Осталось: ' + text_max + ' символов');
        $('#shortdescription').keyup(function () {
            var text_length = $('#shortdescription').val().length;
            var text_remaining = text_max - text_length;
            $('#count_message').html('Осталось: ' + text_remaining + ' символов');
        });


        autosize();

        function autosize() {
            var text = $('.autosize');

            text.each(function () {
                $(this).attr('rows', 1);
                resize($(this));
            });

            text.on('input', function () {
                resize($(this));
            });

            function resize($text) {
                $text.css('height', 'auto');
                $text.css('height', $text[0].scrollHeight + 'px');
            }
        }
    </script>

{% endblock %}