{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    {{ form.name }}
{% endblock %}
{% block styles %}
    <link href="{% static 'cookbook/recipe.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="recipe-name">{{ form.recipe_name.value }}</div>
        </div>
        <div class="row d-flex justify-content-center  recipe-content">
            {% if recipe.image %}
            <img class="recipe-img" src="{{ MEDIA_URL }}{{ recipe.image.url }}">
            {% endif %}
        </div>
        <div class="row  base-style  recipe-params ">
            {{ form.shortdescription.label_tag }}
        </div>
        <div class="row  recipe-content">
            <div>{{ form.shortdescription.value }}</div>
        </div>

        {% if   form.youtube.value %}
            <div class="row  base-style recipe-params">
                {{ form.youtube.label_tag }}
            </div>
            <div class="row  d-flex justify-content-center ">

                <div>
                    <iframe width="560" height="315" src="{{ form.youtube.value }}" frameborder="0"
                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>

        {% endif %}
        <div class="row  base-style  recipe-params">
            <label>
                Категории:
            </label>
        </div>
        {% if   form.category_using.value %}
            <div class="row">
                <div class="col-2">
                    <label class="col-form-label"
                           for="{{ form.category_using.id_for_label }}">{{ form.category_using.label_tag }}</label>
                </div>
                <div class="col-10">
                    {% for category in  form.category_using.value %}
                        <p>
                            {{ category }}
                        </p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if   form.category_geo.value %}
            <div class="row">
                <div class="col-2">
                    <label class="col-form-label"
                           for="{{ form.category_geo.id_for_label }}">{{ form.category_geo.label_tag }}</label>
                </div>
                <div class="col-10">
                    {% for category in  form.category_geo.value %}
                        <p>
                            {{ category }}
                        </p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if   form.category_main.value %}
            <div class="row">
                <div class="col-2">
                    {{ form.category_main.label_tag }}
                </div>
                <div class="col-10">
                    {% for category in  form.category_main.value %}

                            {{ category }}

                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if   form.category_diet.value %}
            <div class="row">
                <div class="col-2">
                    <label class="col-form-label"
                           for="{{ form.category_diet.id_for_label }}">{{ form.category_diet.label_tag }}</label>
                </div>
                <div class="col-10">
                    {% for category in  form.category_diet.value %}
                        <p>
                            {{ category }}
                        </p>
                    {% endfor %}
                </div>
            </div>

        {% endif %}
        {% if   form.category_cooking.value %}
            <div class="row">
                <div class="col-2">
                    <label class="col-form-label"
                           for="{{ form.category_cooking.id_for_label }}">{{ form.category_cooking.label_tag }}</label>
                </div>
                <div class="col-10">
                    {% for category in  form.category_cooking.value %}
                        <p>
                            {{ category }}
                        </p>
                    {% endfor %}
                </div>
            </div>

        {% endif %}

        <div class="row  base-style  recipe-params">
           <label>Ингредиенты</label>
        </div>
        <div class="row  recipe-content">
            {% for i in ingr %}
                <div class="col-6">{{ i.name }}&nbsp;-&nbsp;{{ i.count }}&nbsp;{{ i.measure }}</div>

                <div class="col-6">{{ i.ingr_descr }}</div>

            {% endfor %}

        </div>

        <div class="row  base-style  recipe-params">
            <label>Информация о рецепте</label>
        </div>
        <div class="row  recipe-content">
            {{ form.count.label_tag }}&nbsp;{{ form.count.value }}
        </div>
        <div class="row  recipe-content">
            {{ form.time.label_tag }}&nbsp;{{ form.time.value }}&nbsp;{{ form.measure.value }}
        </div>

        <div class="row  base-style  recipe-params">
            {{ form.alldescr.label_tag }}
        </div>
        <div class="row  recipe-content">
            <div>{{ form.alldescr.value|linebreaks }}</div>
        </div>
        {% if  descr|length %}
        <div class="row  base-style  recipe-params">
            <label>Пошаговое описание</label>
        </div>
        <div class="row  recipe-content">
            {% for step in descr %}
                <div class="col-6">{{ step.step }}</div>
                <div class="col-6">
                {% if step.photo %}
                    <img class="recipe-img" src="{{ MEDIA_URL }}{{ step.photo.url }}">
                {% endif %}
                </div>

            {% endfor %}

        </div>
        {% endif %}
    </div>



{% endblock %}