@import "base.css";
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,cyrillic-ext');

.main-content {
    margin-top: 80px;
}

.base-style {
    background-color: #A52A2A;
}

.name,
.shortdescription,
.description {
    max-width: 70%;
}

.ingredients {
    max-width: 70%;
}

#shortdescription {
    min-height: 60%;
}

.count_message {
    color: #D4B5B5;
}

.autosize {
    resize: none;
    overflow: hidden;
}

.time {
    display: inline;
    max-width: 20%;
}

.ingr {
    width: 10%;
    display: inline;
}

.ingr1 {
    width: 100%;
}

.ingr2 {
    width: 50%;
    display: inline;
}

.categories {
    border: 2px solid #A52A2A;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}


.recipe-params {
    padding: 2px;
    margin-bottom: 10px;
}

.recipe-params > label {
    font-weight:bold;
    color: #FFF;
}

.recipe-img {
    max-width: 80%;
    align-self: center;
}

.recipe-name  {
    color: #A52A2A;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.recipe-content {
    padding: 5px;
}